.orange-box{
    background-color: orange;
    p{
    
        color: black;
    }
}

.red-box{
    background-color: red;
    p{
color: white;
    }
}

.light-box{
    background-color: lightgray;
    p{
        color: darkgray;
        font-weight: bold;
    }
}